* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prescpetive not working in firefox*/
    perspective: 1000px;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    transform-style: preserve-3d;
    width: 30rem;
    height: 80vh;
    border-radius: 30px;
    padding: 0 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .25), 0 0 50px rgba(0, 0, 0, .25);
}

.sneaker {
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sneaker img {
    width: 20rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.circle {
    position: absolute;
    width: 15rem;
    height: 15rem;
    background: linear-gradient( to right, #F6483D, #295396);
    z-index: 1;
    border-radius: 50%;
}

.info h1 {
    font-size: 3rem;
    transition: all 0.75s ease-out;
}

.info h3 {
    padding: 2rem 0;
    font-size: 1.3rem;
    font-weight: lighter;
    color: #585858;
    text-transform: uppercase;
    transition: all 0.75s ease-out;
}

.sizes {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
}

.sizes button {
    padding: .5rem 2rem;
    border-radius: 30px;
    border: none;
    color: #585858;
    background: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
    cursor: pointer;
    font-weight: bold;
}

button.active {
    background: #585858;
    color: white;
}

.purchase {
    margin-top: 2.5rem;
}

.purchase button {
    width: 100%;
    padding: 1rem 0;
    font-weight: bolder;
    border: none;
    border-radius: 30px;
    color: white;
    background: #f54642;
    cursor: pointer;
    transition: all 0.75s ease-out;
}